@import "media-mixin";

@mixin hideScrollbar () {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar { width: 0 !important }
};

@mixin searchButtonX () {
	&::-webkit-search-cancel-button {
		position: absolute;
		right:0;
	}
}